{% extends 'core/base.html' %}
{% block content %}
    <div class="max-w-6xl mx-auto py-10 px-6 xl:px-0 md:flex justify-between">
        <table class="table table-lg">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Status</th>
                    <th>Priority</th>
                    <th>Due Date</th>
                    <th>Action</th>
                    <!-- Added Action column -->
                </tr>
            </thead>
            <tbody id="todo-table-body">
                <!-- Button to create new todo -->
                {% for todo in todos %}
                    <tr>
                        <td>{{ todo.task_description }}</td>
                        <td>{{ todo.get_task_category_display }}</td>
                        <td>{{ todo.get_task_status_display }}</td>
                        <td>{{ todo.get_task_priority_display }}</td>
                        <td>{{ todo.due_date }}</td>
                        <td>
                            <button class="btn btn-xs"
                                    hx-get="{% url 'todo_detail' todo.id %}"
                                    hx-target="#todo_detail_modal"
                                    hx-swap="innerHTML"
                                    onclick="todo_detail_modal.showModal()">Details</button>
                            <dialog id="todo_detail_modal" class="modal">
                            </dialog>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td>
                        <button class="btn btn-sm"
                                hx-get="{% url 'todo_create' %}"
                                hx-target="#todo_create_modal"
                                onclick="todo_create_modal.showModal()">New Task</button>
                        <dialog id="todo_create_modal" class="modal">
                        </dialog>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
