<div class="modal-box" id="modal-box">
    <form method="dialog">
        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <h2 class="text-xl font-bold  mb-4">Edit Task</h2>
    <form method="post"
          class="space-y-4"
          hx-post="{% url 'todo_update' todo.id %}"
          hx-target="#todo-{{ todo.id }}"
          hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
          hx-swap="outerHTML"
          id="edit-task-form">
        {% csrf_token %}
        <div class="flex flex-col space-y-1">
            <label for="description" class="text-sm font-medium text-gray-700">Task Description</label>
            <input type="text"
                   id="description"
                   name="description"
                   value="{{ todo.description }}"
                   class="input input-bordered focus:ring-blue-500 focus:border-blue-500"
                   required>
        </div>
        <div class="flex flex-col space-y-1">
            <label for="task_category" class="text-sm font-medium text-gray-700">Category</label>
            <select id="task_category"
                    name="category"
                    class="select select-bordered focus:ring-blue-500 focus:border-blue-500"
                    required>
                <option value="{{ todo.category }}" selected>{{ todo.get_category }}</option>
                {% for choice in Todo.CATEGORY_CHOICES %}<option value="{{ choice.0 }}">{{ choice.1 }}</option>{% endfor %}
            </select>
        </div>
        <div class="flex flex-col space-y-1">
            <label for="status" class="text-sm font-medium text-gray-700">Status</label>
            <select id="status"
                    name="status"
                    class="select select-bordered focus:ring-blue-500 focus:border-blue-500"
                    required>
                <option value="{{ todo.status }}" selected>{{ todo.get_status }}</option>
                {% for choice in Todo.STATUS_CHOICES %}<option value="{{ choice.0 }}">{{ choice.1 }}</option>{% endfor %}
            </select>
        </div>
        <div class="flex flex-col space-y-1">
            <label for="task_priority" class="text-sm font-medium text-gray-700">Priority</label>
            <select id="task_priority"
                    name="priority"
                    class="select select-bordered focus:ring-blue-500 focus:border-blue-500"
                    required>
                <option value="{{ todo.priority }}" selected>{{ todo.get_priority }}</option>
                {% for choice in Todo.PRIORITY_CHOICES %}<option value="{{ choice.0 }}">{{ choice.1 }}</option>{% endfor %}
            </select>
        </div>
        <div class="flex flex-col space-y-1">
            <label for="due_date" class="text-sm font-medium text-gray-700">Due Date</label>
            <input type="date"
                   id="due_date"
                   name="due_date"
                   class="input input-bordered focus:ring-blue-500 focus:border-blue-500"
                   value="{{ todo.due_date|date:'Y-m-d' }}"
                   required>
        </div>
        <div class="flex flex-col space-y-1">
            <label for="notes" class="text-sm font-medium text-gray-700">Note</label>
            <textarea id="notes"
                      name="notes"
                      class="input input-bordered focus:ring-blue-500 focus:border-blue-500 h-28 resize-vertical"
                      required>{{ todo.notes }}</textarea>
        </div>
        <button type="button"
                class="btn btn-primary w-full py-2 px-4 rounded-full text-white bg-blue-500 hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2"
                onclick="document.getElementById('confirmation-modal').style.display = 'block'; document.getElementById('modal-box').setAttribute('hidden', ''); document.getElementById('task-details-modal').setAttribute('hidden', '')">
            Save Changes
        </button>
    </form>
</div>
<form method="dialog" class="modal-backdrop">
    <button>close</button>
</form>
<!-- Confirmation Modal -->
<div class="modal-box hidden " id="confirmation-modal">
    <h2 class="text-xl font-bold mb-4">Confirm Changes</h2>
    <p class="text-gray-700 mb-4">Are you sure you want to save these changes?</p>
    <div class="flex justify-end space-x-4">
        <button type="button"
                class="btn btn-sm btn-secondary"
                onclick="document.getElementById('confirmation-modal').style.display = 'none'; document.getElementById('modal-box').removeAttribute('hidden');">
            Cancel
        </button>
        <button type="button"
                class="btn btn-sm btn-primary"
                hx-on="click"
                onclick="document.querySelector('.modal-backdrop button').click();"
                hx-post="{% url 'todo_update' todo.id %}"
                hx-target="#todo-{{ todo.id }}"
                hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                hx-swap="outerHTML"
                hx-include="#edit-task-form">Confirm</button>
    </div>
</div>
