<div class="modal-box">
    <form method="dialog">
        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <h3 class="text-lg font-bold text-blue-500">{{ todo.task_description }}</h3>
    <p class="text-gray-700">
        <strong>Created:</strong> {{ todo.created_at }}
    </p>
    <p class="text-gray-700">
        <strong>Updated:</strong> {{ todo.updated_at }}
    </p>
    <p class="text-gray-700">
        <strong>Note:</strong> {{ todo.notes }}
    </p>
</div>
<form method="dialog" class="modal-backdrop">
    <button>close</button>
</form>
